@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
body{
    font-family: "Merriweather", serif;
}
.header-container{
    width: 1320px;
    margin: 0 auto;
    height: 600px;
 
    background-image: url(/images/Banner\ Image.png);
    background-color:rgba(0,0,0,.5);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);;
   text-align: center;
   height: 600px;
}
.banner-content h1{
    font-size: 72px;

font-weight: 900;
}
.banner-content p {
    font-size: 32px;
    font-weight: 400;}

/* 65% section area */
 .section-container{
    width: 802.9px;
    height: 806px;
  
    margin: 0 auto;
    text-align: center;
    font-family: Inter;
 }
 
 .section-content h1{
    
font-size: 88px;
font-weight: 700;
line-height: 107px;
letter-spacing: 0%;
text-align: center;
color: rgb(255, 0, 0);

 }
 .section-content p{
    color: rgb(255, 0, 0);

font-size: 24px;
font-weight: 500;
line-height: 29px;
 }
 .section-content h3{
    color: rgb(7, 2, 17);

font-size: 48px;
font-weight: 700;
 }
.image-content{
    width: 802.9px;
height: 500px;
 }